{{yield}}
<div class="container category-tile">
  <div class="col-xs-12 products">
    <h3>{{category.name}}</h3>
    {{#each category.products as |product|}}
      {{product-tile product=product saveRev6="saveRev7"}}
    {{/each}}
  </div>
</div>
