{{yield}}
<h2>CATEGORY TILE</h2>
<div class="container">
  <h3>{{category.name}}</h3>
  <div class="col-xs-12">
    {{#each category.products as |product|}}
    <div class="col-xs-12">
      {{product-tile product=product saveRev6="saveRev7"}}
    </div>
    {{/each}}
  </div>
</div>
