{{yield}}
<h2>what</h2>
<h3>{{category.name}}</h3>
<div class="col-xs-12">
  {{#each category.products as |product|}}
  <div class="col-sm-6">
    {{product-tile product=product}}
  </div>
  {{/each}}
</div>
