@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";

body {
  font-family: Calibri,Candara,Segoe,"Segoe UI",Optima,Arial,sans-serif;
  .btn {
    border-radius: 0;
  }
}

.background-cover {
  background-color: rgba(255, 255, 255, 0.5);
}

.background-image {
  background: url('/assets/images/sunrise.jpg') no-repeat center center fixed;
}

.header-section {
  text-align: center;
  background-color: darkgrey;
  color: white;
  #logo {
    width: 50px;
  }
  .header-btn {
    width: 40%;
    margin-bottom: 5px;
    background-color: #333;
    font-size: 16px;
  }
  .header-btn:hover {
    color: crimson;
  }
  .header-fave-btn {
    background-color: crimson;
  }
  .header-fave-btn:hover {
    color: #333;
  }
}

.admin-modal, .review-modal {
  padding: 30px;
}

.category-tile {
  width: 80%;
  background-color: rgba(255, 255, 255, 0.8);
  margin-bottom: 50px;
}

.products {
  padding: 20px;
  .product-box {
    height: auto;
    padding-bottom: 30px;
    .product-image {
      width: 100%;
      object-fit: cover;
    }
    .product-about {
      padding: 0px 30px 15px;
      h4 {
      }
    }
    .product-lower {
      text-align: center;
    }
  }
}

.review-btn, .admin-btn {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}
.review-tile {
  border-bottom: 1px solid black;
  margin-bottom: 10px;
}

.favorite-modal {
  max-width: 600px;
  text-align: center;
}

.fave-btn {
  border-radius: 100% !important;
  width: 40px;
  height: 40px;
  outline: none !important;
  background-color: white;
  border: 1px solid black;
  i {
    font-size: 25px;
    margin-left: -5px;
    margin-top: 1px;
  }
}

.fave-btn:hover, .fave-btn-clicked {
  color: black;
  background-color: gold;
  border: 1px solid lightyellow;
}

.fave-img {
  width: 150px;
}
