@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";

.admin-modal, .review-modal {
  padding: 30px;
}

.product-image {
  max-width: 150px;
}

.category-tile {
  background-color: steelblue;
  margin-bottom: 50px;
}
