@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";

.background-image {
  background: url('/assets/images/sunrise.jpg') no-repeat center center fixed;
}

.admin-modal, .review-modal {
  padding: 30px;
}

.products {
  padding: 20px;
  .product-box {
    height: auto;
    padding-bottom: 30px;
    .product-image {
      width: 100%;
      object-fit: cover;
    }
    .product-about {
      padding: 30px;
    }
  }
}



.category-tile {
  background-color: white;
  margin-bottom: 50px;
}

.fave-btn {
  border-radius: 100%;
  width: 40px;
  height: 40px;
  outline: none !important;
  background-color: white;
  border: 1px solid black;
  i {
    font-size: 25px;
    margin-left: -4px;
    margin-top: 1px;
  }
}

.fave-btn:hover {
  color: black;
  background-color: gold;
  border: 1px solid lightyellow;
}

.fave-img {
  width: 150px;
}
