<div class="container-fluid header-section">
  <div class="row">
    <div class="col-sm-12">
      <h1>Shade <img id="logo" src="/assets/images/logo.png" alt="A bonsai tree" /> Tree</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      {{admin-modal model=model saveCat4="saveCat5" saveProd4="saveProd5"}}
    </div>
    <div class="col-sm-6">
      {{favorite-display}}
    </div>
  </div>
</div>

{{outlet}}

{{#each model.categories as |category|}}
  <div class="row">
    <div class="col-xs-12 category-box">
      {{category-tile category=category saveRev8="saveRev9"}}
    </div>
  </div>
  {{/each}}
